body {
  padding-top: 80px; /* Adjust based on your navbar's height */
  
}
input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  outline: none !important;
}

@media (max-width: 991.98px) {
  #navbarNav.collapse.show {
    
    padding: 10px 0;
    transition: background 0.3s ease;
  }
}

@media (min-width: 992px) {
  #navbarNav {
    background-color: transparent !important;
  }
}


input:focus {
  box-shadow: none !important;
  border: 1px solid #dc3545; /* red border */
}
.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0);
}

.dots-loader {
  position: absolute;
  top: 50%;  
  display: flex;
  gap: 12px;
}

.dots-loader span {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dots-loader span:nth-child(1) {
  background-color: #6a0dad;
  animation-delay: 0s;
}
.dots-loader span:nth-child(2) {
  background-color: #ff6347;
  animation-delay: 0.2s;
}
.dots-loader span:nth-child(3) {
  background-color: #00bfff;
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.6;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

.glass-box {
  background: rgba(255, 255, 255, 0); /* white with 20% opacity */
  border-radius: 12px;
  padding: 20px 28px;
  color: #000000; /* dark text since background is light */

}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
  .logout-btn{
        background: none;
        color: none;
        border: none;
        
    }


    input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  outline: none !important;
}
.card{
  background: none;
}

  



